<div class="row align-items-center">
    <div class="col-sm-6 col-md-4">
        <div class="p-5 my-5 border">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let productImg of data?.images">
                    <ng-template carouselSlide>
                        <img class="w-100" [src]="productImg" [alt]="data?.title">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="col-sm-6 col-md-8">
        <div class="p-5 my-5">
            <h3 class="fw-bold">{{data?.title}}</h3>
            <p class="my-4">{{data?.description}}</p>
            <span class="font-sm fw-bold text-main mb-5">{{data?.category?.name}}</span>
            <div class="my-3 text-secondary font-sm fw-bold">
                <p class="my-0">Available Quantity: {{data?.quantity}}</p>
                <p class="my-0">Brand: {{data?.brand?.name}}</p>
            </div>
            <div class="d-flex justify-content-between">
                <span class="fw-bold font-sm">{{data?.price}} EGP</span>
                <div>
                    <i class="fa-solid fa-star rating-color mx-2"></i>
                    <span class="fw-bold font-sm">{{data?.ratingsAverage}}</span>
                </div>
            </div>
            <button (click)="addToCart(data?._id)" class="btn bg-main w-100 text-white mt-3">+ Add To Cart</button>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>