<div class="p-4 product">
    <a [routerLink]="['/product',product._id]">
        <img class="w-100" [src]="product.imageCover" [alt]="product.title">
        <span class="text-main font-sm fw-bold">{{product.category.name}}</span>
        <p class="fw-bold">{{product.title.split(' ').slice(0,2).join(' ')}}</p>
        <div class="d-flex justify-content-between">
            <span class="fw-bold font-sm">{{product.price}} EGP</span>
            <div>
                <i class="fa-solid fa-star rating-color mx-2"></i>
                <span class="fw-bold font-sm">{{product.ratingsAverage}}</span>
            </div>
        </div>
    </a>
    <button (click)="addToCart(product._id)" class="btn bg-main w-100 text-white mt-3">+ Add To Cart</button>
</div>
