<div class="row g-0 py-3">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img height="300" class="w-100 object-fit-cover" src="assets/images/slide-2.jpeg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img height="300" class="w-100 w-100 object-fit-cover" src="assets/images/banner-4.jpeg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
                <img height="300" class="w-100 w-100 object-fit-cover" src="assets/images/slide3.png" alt="">
            </ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <div>
            <img height="150" class="w-100 w-100 object-fit-cover"  src="assets/images/main-slider-1.jpeg" alt="">
        </div>
        <div>
            <img height="150" class="w-100 w-100 object-fit-cover" src="assets/images/main-slider-3.jpeg" alt="">
        </div>
    </div>
</div>